:local(.header) {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  height: 5rem;
  background-color: #fff;


  display: flex;
  justify-content: space-between;
}

:local(#nav_bar__ul) {
  display: block;

}

:local(ul) {
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;

}

:local(#nav_bar__li) {
  border-right: 1px solid #bbb;
}

:local(li) {

  float: left;
  color: #000;
  padding: 1rem 1rem;
  text-decoration: none;

}

:local(.tabs) {
  float: left;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

:local(.active) {
  background-color: #4CAF50;
}

:local(.inactive) {
  background-color: yellow;
}
