

:local(.branch_figure) {
  margin: 1rem;
  height: 40rem;
  width: 20rem;
  background-color: pink;
}
:local(.reward__branch_heading) {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 5rem 2rem;
  text-transform: uppercase;
}

:local(.branch__image) {

  border-radius: 30%;

  display: block;
  height: auto;
  width: 100%;
}

:local(.branch_modal) {
    display: block; /* Hidden by default */
    position: absolute;
    z-index: 2; /* Sit on top */
    width: 20rem; /* Full width */
    height: 40rem; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

:local(.info_button) {
    background-color: #4CAF50; /* Green */
    border: none;
    position: absolute;
    color: white;
    z-index: 5;
    padding: 1rem 3rem;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2rem;
}
