

:local(.branch) {
  height: 500px;
  width: 250px;

}
:local(.reward__branch_heading) {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-top: 3rem;
  text-transform: uppercase;
}

:local(.branch__image) {

  border-radius: 30%;

  display: block;
  height: auto;
  width: 100%;
}
