:local(.season) {
  display: block;
  position: relative;
}

:local(.container) {
  background-color: yellow;
  display:flex;
  flex-direction: row;
  padding: 10px;
  overflow: auto;
}

:local(.branch_container) {
  width: 400px
}
