:local(.season) {
  display: block;
  position: relative;
}

:local(.container) {
  display:flex;
  flex-direction: row;
  padding: 0px;
  overflow: auto;
}

:local(.season_title) {

  font-size: 2rem;
  margin-left: 1rem;
}
:local(.branch_container) {
}
