
body {
  font-family: 'Roboto', sans-serif;
}
html {
  background-image: url("https://i.redd.it/adiglyj5cgnz.png");
  @media (min-width: 2000px) { //iPhone 8
    font-size: 150%;
  }
  @media (min-width: 2200px) { //iPad Retina
    font-size: 165%;
  }
  @media (min-width: 2400px) { //iPhone X
    font-size: 180%;
  }
}
