
body {
  font-family: 'Roboto', sans-serif;
}
html {
  background-image: url("https://i.redd.it/adiglyj5cgnz.png");
  @media (min-width: 800px) { //iPhone X
    font-size: 110%;
  }
  @media (min-width: 1000px) { //iPad Retina
    font-size: 180%;
  }
  @media (min-width: 1300px) { //iPhone X
    font-size: 240%;
  }
}
